* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--shape-background);
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--brand-dark);
    border-radius: 8px;
}

h1 {
    font: var(--heading-md);
    color: var(--text-heading);
    /* margin-bottom: 2.5rem; */
}

legend {
    display: flex;
    align-items: center;
    gap:  .75rem;
    margin-bottom: 1.5rem;

    .title {
        font: var(--heading-sm);
        color: var(--text-heading);
    }

    img {
        height: 1.5rem;
    }
}

fieldset {
    border: none;
}

section {
    max-width: 560px;
    margin-top: 2.5rem;
}

label {
    font: var(--body-sm);
    color: var(--text-body);
}

input, textarea, .options-container {
    font: var(--body-md);
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    color: var(--text-heading);

    &::placeholder {
        color: var(--input-placeholder);
    }

    &:focus {
        outline: transparent;
        border-color: var(--brand-light);
    }
}

.text-input, .text-area, .segmented-control {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.colors, .event-theme .cards {
    margin-top: 1rem;
}